$info-height: 50px;
$yellow: #ef9841;
$green: #056b56;
$green-dark: #004e3e;
$almost-black: #0a2114;
$beige: #e3e0c9;
$orange: #f05023;

body {
  font-family: sans-serif;
  overflow: hidden;
  background-color: $yellow;
}

.main-container {
  background-color: $green-dark;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 400px;
  height: 150px;
  display: grid;
  grid-template-areas: "score info" "life life" "boss boss";
  grid-template-rows: $info-height $info-height;
}

.header__block {
  display: flex;
}

.player-health {
  grid-area: life;
}

.score-container {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: $beige;
  grid-area: score;
}

.game-info {
  grid-area: info;
  justify-content: flex-end;
}

.game-stats {
  display: flex;
  align-items: center;
  gap: 30px;
}
.game-stat {
  display: flex;
  align-items: center;
  gap: 5px;
}
.game-stat__key {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: $yellow;
}
.game-stat__value {
  font-size: 20px;
  font-weight: bold;
  color: $beige;
}

.health-bar {
  width: 400px;
  height: 20px;
  border-radius: 8px;
  background-color: $almost-black;
  border: 2px solid $yellow;
  display: flex;
  list-style: none;
  overflow: hidden;

  li {
    width: 40px;
    height: 20px;
    animation: fadeIn 1s linear;
  }
}

#player-health-bar {
  li {
    background-color: $orange;
  }
}

#boss-info {
  display: none;
}

#boss-health-bar {
  grid-area: boss;
  position: relative;
  &:after {
    content: 'BOSS';
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 16px;
    color: $yellow;
    transform: translate(-50%, -50%);
  }
  li {
    background-color: $green;
  }
}

#game-view {
  border: 2px solid $yellow;
  border-radius: 8px;
  background: black;
  touch-action: none;
  cursor: crosshair;
  
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 10px;
}

.main-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
