@import "./styles/css-reset.scss";
@import "./styles/main-container.scss";

.break {
  flex-basis: 100%;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body::-webkit-scrollbar {
  display: none;
}